name: mod
channels:
  - conda-forge
dependencies:
  - brotlipy
  - bzip2
  - c-ares
  - ca-certificates
  - cairo
  - certifi
  - cffi
  - chardet
  - click
  - colorama
  - cryptography
  - cymem
  - cython-blis
  - dataclasses
  - ffmpeg
  - fontconfig
  - freetype
  - gettext
  - gmp
  - gnutls
  - graphite2
  - harfbuzz
  - hdf5
  - icu=68.1
  - idna=2.10
  - jasper
  - jbig
  - jinja2
  - jpeg=9d
  - krb5
  - lame
  - lerc
  - libblas
  - libcblas
  - libcurl
  - libcxx
  - libdeflate
  - libedit
  - libev
  - libffi
  - libgfortran
  - libgfortran5
  - libglib
  - libiconv
  - liblapack
  - liblapacke
  - libnghttp2
  - libopenblas
  - libopencv
  - libpng
  - libprotobuf
  - libssh2
  - libtiff
  - libwebp-base
  - libxml2
  - llvm-openmp
  - lz4-c
  - markupsafe
  - murmurhash
  - ncurses=6.2=h0a44026_1
  - nettle=3.6=hedd7734_0
  - numpy=1.21.0=py39h7eed0ac_0
  - opencv=4.5.2=py39h6e9494a_0
  - openh264=2.1.1=hfd3ada9_0
  - openssl=1.1.1k=h0d85af4_0
  - packaging=20.9=pyh44b312d_0
  - pathy=0.6.0=pyhd8ed1ab_0
  - pcre=8.45=he49afe7_0
  - pip=21.1.3=py39hecd8cb5_0
  - pixman=0.40.0=hbcb3906_0
  - preshed=3.0.5=py39h9fcab8e_1
  - py-opencv=4.5.2=py39h71a6800_0
  - pycparser=2.20=py_2
  - pydantic=1.7.3=py39h89e85a6_1
  - pyopenssl=20.0.1=pyhd3eb1b0_1
  - pyparsing=2.4.7=pyh9f0ad1d_0
  - pysocks=1.7.1=py39hecd8cb5_0
  - python=3.9.5=h88f2d9e_3
  - python_abi=3.9=2_cp39
  - readline=8.1=h9ed2024_0
  - requests=2.25.1=pyhd3eb1b0_0
  - setuptools=52.0.0=py39hecd8cb5_0
  - shellingham=1.4.0=pyh44b312d_0
  - six=1.16.0=pyhd3eb1b0_0
  - smart_open=5.1.0=pyhd8ed1ab_1
  - spacy-legacy=3.0.6=pyhd8ed1ab_0
  - sqlite=3.36.0=hce871da_0
  - tk=8.6.10=hb0a8c7a_0
  - tqdm=4.61.1=pyhd8ed1ab_0
  - typer=0.3.2=pyhd8ed1ab_0
  - tzdata=2021a=h52ac0ba_0
  - urllib3=1.26.6=pyhd3eb1b0_1
  - wasabi=0.8.2=pyh44b312d_0
  - wheel=0.36.2=pyhd3eb1b0_0
  - x264=1!161.3030=h0d85af4_1
  - xz=5.2.5=h1de35cc_0
  - zlib=1.2.11=h1de35cc_3
  - zstd=1.5.0=h582d3a0_0
  - pip:
    - catalogue==1.0.0
    - cython==0.29.23
    - dartsclone==0.9.0
    - ginza==4.0.6
    - ja-ginza==4.0.0
    - plac==1.1.3
    - sortedcontainers==2.1.0
    - spacy==2.3.7
    - srsly==1.0.5
    - sudachidict-core==20210608
    - sudachipy==0.5.2
    - thinc==7.4.5

